# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.python-version

# Virtual environment
venv/
.venv

# SQLite database file
*.db
*.sqlite3

# IDE files
.vscode/
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
